body {
    padding: 100px 0;
}

body > h1 {
    text-align: center;
}

.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
}

.container > h2:first-of-type {
    margin-top: 0;
}

.error {
    color: red;
}

.success {
    color: green;
}